﻿@model AssignmentFujitsu_03_ViewModel.MasterSupplierViewModel

@{ ViewBag.Title = "Index";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4 style="color:red">Supplier Maintenance Screen</h4>
        <hr />
        
    <div class="row">
        <div class="w3-col l3 m3 s12">
            <label class="col-sm-2">Supplier Code</label>
            <div class="col-sm-4">
                @Html.EditorFor(model => model.SUPPLIER_CODE, new { htmlAttributes = new { @class = "form-control", @style = "border:2px solid navy" } })
                @Html.ValidationMessageFor(model => model.SUPPLIER_CODE, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="w3-col l2 m3 s6">
            <div style="padding-top: 10px">
                <button class="btn btn-danger" value="search" id="search">Search</button>
                <button class="btn btn-danger" value="reset">Clear</button>
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="w3-col l3 m3 s12" style="padding-top: 10px">
            <label class="col-sm-2">Province</label>
            <div class="col-sm-4">
                @Html.DropDownListFor(model => model.PROVINCE, (IEnumerable<SelectListItem>)ViewBag.PROVINCE, "- Pilih -", new { @class = "form-control", @style = "border:2px solid navy" })
                @Html.ValidationMessageFor(model => model.PROVINCE, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="w3-col l3 m3 s12" style="padding-top: 10px">
            <label class="col-sm-2">City</label>
            <div class="col-sm-4">
                @Html.DropDownListFor(model => model.CITY, (IEnumerable<SelectListItem>)ViewBag.CITY, "- Pilih -", new { @class = "form-control", @style = "border:2px solid navy" })
                @Html.ValidationMessageFor(model => model.CITY, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
        <hr />
        <hr />
        <div class="row">
            <div class="w3-col l3 m3 s12">
                <label class="col-sm-2">Choose File</label>
                <div class="col-sm-4">
                    <input type="file" name="pic" id="pic" />
                    @*@Html.EditorForm(model => model.PIC, new { htmlAttributes = new { @class = "form-control", @style = "border:2px solid navy" } })
                @Html.ValidationMessageFor(model => model.PIC, "", new { @class = "text-danger" })*@
                </div>
            </div>
            <div class="w3-col l2 m3 s8">
                <div style="padding-top: 10px">
                    <button class="btn btn-danger" value="add" id="add">Add</button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div id="table-list" name="table-list">
            @Html.Partial("List")
        </div>
    </div>
    

    @section Scripts
    { 
        <script type="text/javascript">
            var ProgressHtml = '<div class="progress progress-striped active" style="margin-bottom:0"> <div class="progress-bar" style="width:100%"></div> </div>';

             $(document).ready(function () {
            ShowList();
        });

        function ShowList() {
            var vjs_search = $("#search").val();
            $("#table-list").html(ProgressHtml);

            $.ajax({
                url: '@Url.Action("List", "MasterSupplier")',
                type: 'get',
                data: {
                    paramSearch: vjs_search
                },
                success: function (result) {
                    $("#table-list").html(result);
                }
            });
        }    

            $("#add").click(function () {
            $
            })

        </script>
        }
}
