﻿@model IEnumerable<AssignmentFujitsu_03_ViewModel.MasterSupplierViewModel>

    <table style="background-color: aliceblue" ; width="100%">
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SUPPLIER_CODE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SUPPLIER_NAME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ADDRESS)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PROVINCE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CITY)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PIC)
                    </td>
                </tr>
            }

        }

    </table>
